In [2]:
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import math
import numpy as np

In [3]:
# Connection string (replace with your connection details)
client = MongoClient("mongodb://localhost:27017/")
# OR for Atlas: 
# client = MongoClient("mongodb+srv://username:password@cluster.mongodb.net/")

db = client.sample_supplies
collection = db.sales

# Test connection
print(f"Total listings: {collection.count_documents({})}")

Total listings: 5000

In [4]:
pipeline = [
    # 1. Desenrollar los items del array
    {"$unwind": "$items"},

    # 2. Agrupar por fecha y por tipo de producto, sumando cantidad e ingreso
    {
        "$group": {
            "_id": {
                "date": {"$dateToString": {"format": "%Y-%m-%d", "date": "$saleDate"}},
                "product": "$items.name"
            },
            "total_quantity": {"$sum": "$items.quantity"},
            "total_revenue": {
                "$sum": {
                    "$multiply": ["$items.quantity", "$items.price"]
                }
            }
        }
    },

    # 3. Ordenar por fecha y producto
    {
        "$sort": {
            "_id.date": 1,
            "_id.product": 1
        }
    }
]
results = collection.aggregate(pipeline)
df = pd.DataFrame(results)
df = df.join(pd.json_normalize(df["_id"]))
df = df.drop(columns=["_id"])
df

       total_quantity total_revenue        date        product
0                   5        398.60  2013-01-01       backpack
1                  29        673.57  2013-01-01         binder
2                  14        257.50  2013-01-01      envelopes
3                   6       6316.90  2013-01-01         laptop
4                   4        118.04  2013-01-01        notepad
...               ...           ...         ...            ...
10131              26        574.32  2017-12-31         binder
10132              33        412.09  2017-12-31      envelopes
10133              17        236.74  2017-12-31        notepad
10134              20        783.84  2017-12-31           pens
10135               9        357.57  2017-12-31  printer paper

[10136 rows x 4 columns]

In [5]:
df.to_csv("sales_report.csv", index=False)

In [ ]:
# Contar cuántas transacciones hay en total
total_transactions = collection.count_documents({})

# Pipeline para contar en cuántas transacciones aparece cada producto
pipeline = [
    {"$unwind": "$items"},
    {"$group": {"_id": "$items.name", "num_transactions": {"$sum": 1}}}
]

results = list(collection.aggregate(pipeline))
df = pd.DataFrame(results)

# Calcular la probabilidad de aparición de cada producto
df["total_transactions"] = total_transactions
df["probability"] = df["num_transactions"] / df["total_transactions"]

df = df.rename(columns={"_id": "product"})
df

         product  num_transactions  total_transactions  probability
0       backpack              2309                5000       0.4618
1           pens              4559                5000       0.9118
2  printer paper              2246                5000       0.4492
3        notepad              6872                5000       1.3744
4      envelopes              4505                5000       0.9010
5         binder              4676                5000       0.9352
6         laptop              2271                5000       0.4542

In [11]:
def df_clients(collection):
    pipeline = [
        # 1. Desenrollar items
        {"$unwind": "$items"},

        # 2. Agregar total por item
        {"$addFields": {"item_total": {"$multiply": ["$items.quantity", "$items.price"]}}},

        # 3. Agrupar por venta para sumar totales y capturar cliente
        {"$group": {
            "_id": "$_id",
            "saleDate": {"$first": "$saleDate"},
            "customer": {"$first": "$customer"},
            "customer_gender": {"$first": "$customer.gender"},
            "customer_age": {"$first": "$customer.age"},
            "customer_satisfaction": {"$first": "$customer.satisfaction"},
            "couponUsed": {"$first": "$couponUsed"},
            "storeLocation": {"$first": "$storeLocation"},
            "purchaseMethod": {"$first": "$purchaseMethod"},
            "total_revenue": {"$sum": "$item_total"},
            "items": {"$push": "$items"}
        }},

        # 4. Ordenar por fecha (opcional)
        {"$sort": {"saleDate": 1}}
    ]

    # Ejecutar pipeline
    results = list(collection.aggregate(pipeline))

    # Convertir a DataFrame
    df_clients = pd.DataFrame(results)

    # Opcional: aplanar la columna de items si quieres analizar los productos individuales
    df_clients["num_items"] = df_clients["items"].apply(lambda x: len(x))
    df_clients['total_revenue'] = df_clients['total_revenue'].apply(lambda x: float(x.to_decimal()))

    return df_clients

df_clients = df_clients(collection)
df_clients['total_revenue'].sum()

9894572.27

In [14]:
def crear_df(collection):
    pipeline = [
    # 1. Desenrollar los items del array
        {"$unwind": "$items"},

        # 2. Agrupar por fecha y por tipo de producto, sumando cantidad e ingreso
        {
            "$group": {
                "_id": {
                    "date": {"$dateToString": {"format": "%Y-%m-%d", "date": "$saleDate"}},
                    "product": "$items.name"
                },
                "total_quantity": {"$sum": "$items.quantity"},
                "total_revenue": {
                    "$sum": {
                        "$multiply": ["$items.quantity", "$items.price"]
                    }
                }
            }
        },

        # 3. Ordenar por fecha y producto
        {
            "$sort": {
                "_id.date": 1,
                "_id.product": 1
            }
        }
    ]
    results = collection.aggregate(pipeline)
    df = pd.DataFrame(results)
    df = df.join(pd.json_normalize(df["_id"]))
    df = df.drop(columns=["_id"])
    return df

df = crear_df(collection)
df['total_revenue'] = df['total_revenue'].apply(lambda x: float(x.to_decimal()))
df['total_revenue'].sum()

9894572.27

In [ ]:
df['date']

       total_quantity  total_revenue        date        product
0                   5         398.60  2013-01-01       backpack
1                  29         673.57  2013-01-01         binder
2                  14         257.50  2013-01-01      envelopes
3                   6        6316.90  2013-01-01         laptop
4                   4         118.04  2013-01-01        notepad
...               ...            ...         ...            ...
10131              26         574.32  2017-12-31         binder
10132              33         412.09  2017-12-31      envelopes
10133              17         236.74  2017-12-31        notepad
10134              20         783.84  2017-12-31           pens
10135               9         357.57  2017-12-31  printer paper

[10136 rows x 4 columns]

In [22]:
pipeline = [
    {
        "$group": {
            "_id": "$customer.email",   # agrupa por email
            "num_purchases": { "$sum": 1 }, # cuenta cuántos documentos (ventas) tiene
            "total_revenue": { 
                "$sum": { 
                    "$sum": { 
                        "$map": { 
                            "input": "$items", 
                            "as": "item", 
                            "in": { "$multiply": ["$$item.price", "$$item.quantity"] }
                        } 
                    } 
                } 
            }
        }
    },
    {
        "$sort": { "num_purchases": -1 } # ordenar por número de compras descendente
    }
]

results = list(collection.aggregate(pipeline))
df_clients = pd.DataFrame(results)
df_clients = df_clients.rename(columns={"_id": "email"})

In [23]:
df_clients

                   email  num_purchases total_revenue
0          citdet@ale.tn              1       3169.27
1       rir@zovkanpod.gy              1        407.90
2       paat@ezegijej.eh              1        245.11
3           amtu@ijus.bi              1       3985.28
4     gijulnik@dejawu.fj              1       1333.12
...                  ...            ...           ...
4995      vozafob@sid.yt              1       3646.19
4996        ivoilu@na.sy              1       1631.99
4997   hovahhob@zomoj.ps              1        668.53
4998      seh@hajtomo.bj              1       1961.97
4999  bevtod@fedpehog.sg              1       1513.34

[5000 rows x 3 columns]

In [20]:
df_clients[df_clients['saleDate']=='2013-01-01']

Empty DataFrame
Columns: [_id, saleDate, customer, customer_gender, customer_age, customer_satisfaction, couponUsed, storeLocation, purchaseMethod, total_revenue, items, num_items]
Index: []

In [ ]:
a